{% extends 'base.html.twig' %}

{% block title %}Bienvenido{% endblock %}

{% block body %}


<div class="container">
    <h1 class="text-center">Bienvenido, {{ email }} </h1>

   <h2 class="text-center">Esperemos que disfrutes de tu estancia en 'ElAmigos'</h2>
</div>
{% endblock %}
